{%extends 'all-news/base.html'%} 

{% block content %}

<div class="container">

  <div class="row">
    {% if articles%}
      <h2>Found {{ articles|length }} articles for searched term {{message}}</h2>
    {% else %}
      <h2> Found 0 articles for the searched term {{message}}</h2>
    {% endif %}

  </div>

  <div class="row">

  {% if articles %}
    {% for article in articles %}
      <section class="my-5">

            <div class="row">
          
              <!-- Grid column -->
              <div class="col-lg-5 col-xl-4">
          
                <!-- Featured image -->
                <div class="view overlay rounded z-depth-2 mb-lg-0 mb-4">
                    <img src="{{article.article_image.url}}"  class="img-responsive" alt="{{article.title}} image">
                <div class="mask rgba-white-slight"></div>
                
                </div>
          
              </div>
              <!-- Grid column -->
          
              <!-- Grid column -->
              <div class="col-lg-7 col-xl-8">
                
                <!-- Post title -->
                <h3><a class="font-weight-bold mb-3 black-text" href="/article/{{article.id}}">{{ article.title }}</a></h3>
                <!-- Excerpt -->
                <p class="dark-grey-text">{{ article.post|truncatechars:400 }}</p>
                <!-- Post data -->
                <p>by <a class="font-weight-bold green-text" href="#!">{{article.editor.first_name}}</a>, {{article.pub_date|timesince}} 
                  <span class="ml-4"></span> <span> Tags: {{ article.tags.all|join:", "}}
                      
                  </span>
                 
                </p>
                <!-- Read more button -->
              <a class="btn success-color-dark text-white btn-md" href="/article/{{article.id}}">Read more</a>
              </div>
              <!-- Grid column -->
          
            </div>
            <!-- Grid row -->
          
            <hr class="my-5">
          
            
          
          </section>
    {% endfor %}
  {% endif %}
  </div>
</div>

{% endblock %}